* {
    background-color: antiquewhite;
}
.header {
    text-align: center;
    background-color: rgb(210, 154, 154);
    margin: 40px auto;
    width: fit-content;
    padding: 12px;
}
.header {
    font-family: Georgia, Arial, serif;
    font-size: 40px;
}

.links {
    font-size: 26px;
    font-family: Garamond, Georgia, Arial, serif;
    display: flex;
    justify-content: center;
    }

 a {
    margin: 0 16px;
 }

.des-header {
    font-size: 30px;
}

.description {
    font-family: 'Times New Roman', Times, serif;
}

.ench {
    color:rgb(154, 54, 54);
}

.hamb {
    color:rgb(188, 123, 54)
}

.chick {
    color:rgb(101, 156, 56)
}